.profile-avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  border: solid 4px #ffcd55;

  object-fit: cover;
  object-position: center;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
}
