//OVERWRITES
$primary: #ffcd61;


$custom-theme-colors: (
  "new": rgb(66, 19, 126)
);

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// BOOTSTRAP
@import '~bootstrap/scss/bootstrap';
